/* CSS Document */

body
{
    margin:0px;
    background-color:#ffffff;
}

#main
{
    width:100%;
}

#header_part
{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.header_text
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#336666;
    font-weight:bold;
    text-decoration:none;
}

.header_text:hover
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#ff6600;
    font-weight:bold;
    text-decoration:none;
}

.header_text1
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#336666;
    text-decoration:none;
}

.header_text2
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#336666;
    text-decoration:underline;
}

.header_text2:hover
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#ed3800;
    text-decoration:underline;
}

.header_text3
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#0054aa;
    text-decoration:none;
}

.myacc
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#0054aa;
    text-decoration:none;
}

.myacc:hover
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#0054aa;
    text-decoration:underline;
}

.header_text4
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#33cccc;
    padding-bottom:4px;
    text-decoration:none;
}

.header_text4:hover
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#ff5f06;
    padding-bottom:4px;
    text-decoration:none;
}

.header_text5
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#0099cc;
    padding-bottom:4px;
    text-decoration:underline;
}

.header_text5:hover
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#ff6600;
    padding-bottom:4px;
    text-decoration:underline;
}

.header_text6
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#666666;
    text-decoration:none;
}

.header_text6:hover
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#008af4;
    text-decoration:none;
}

#footer
{
    width:100%;
    clear:both;
    padding-top:6px;
}

.footer1txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    COLOR:#0e4e78;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.footer2txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    COLOR:#ff5400;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.footer2txt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    COLOR:#ff5400;
    text-decoration:underline;
    line-height:0.5cm;
    text-align:justify;
}

.footer3txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    COLOR:#0085dc;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

#content
{
    width:990px;
    padding-left:10px;
    margin-left:auto;
    margin-right:auto;
}

#banners
{
    width:958px;
    padding-left:21px;
}

.banner1
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#0054aa;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.banner2
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#0054aa;
    text-decoration:none;
    line-height:0.5cm;
    text-align:center;
}


.topfooter
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#0054aa;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.topfooter:hover
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#0054aa;
    text-decoration:underline;
    line-height:0.5cm;
    text-align:justify;
}

#categories
{
    width:990px;
}

#categories_left
{
    width:196px;
    float:left;
    padding-left:19px;
}

#searchresult_left
{
    width:224px;
    float:left;
    padding-left:22px;
}

#searchresult_right
{
    width:727px;
    float:right;
    padding-right:14px;
}

#categories_right
{
    width:760px;
    float:right;
    padding-right:11px;
}

#shop
{
    width:196px;
    float:left;
    padding-top:8px;
}

.shop_bg
{
    background:url(../images/shopcateg.gif) no-repeat;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:8px;
    padding-bottom:9px;
    padding-left:12px;
    FONT-WEIGHT:bold; 
    FONT-SIZE:12px;
    COLOR:#0070a8;
}

.categoriesbg
{
    border-left:1px solid #c0c0c0;
    background-color:#f2f2f2;
    border-right:1px solid #c0c0c0;
    border-bottom:1px solid #c0c0c0;
}

.categories_bullet
{
    list-style: url(../images/categbullet.gif);
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10px;
    left:0px;
    text-indent:5px;
    line-height:0.6cm;
}

.categories_bullet li
{
    width:170px;
}

.categories_fonttype
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-WEIGHT:bold; 
    FONT-SIZE:12px;
    COLOR:#0070a8;
    text-decoration:none;
}

.bestsellers1txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    COLOR:#0070a8;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.bestsellerstxt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#0070a8;
    font-weight:bold;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.linksrollovertxt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#0070a8;
    font-weight:bold;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.linksrollovertxt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#8fb800;
    font-weight:bold;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.bestbg
{
    border-left:1px solid #c0c0c0;
    background-color:#ffffff;
    border-right:1px solid #c0c0c0;
    border-bottom:1px solid #c0c0c0;
}

.spotlighttxt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    COLOR:#1e558d;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.spotlight1txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#e15822;
    font-weight:bold;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

#products
{
    width:760px;
    float:left;
    padding-top:8px;
}

.products_bg
{
    background:url(../images/productsbg.gif) no-repeat;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:8px;
    padding-bottom:9px;
    padding-left:10px;
    FONT-WEIGHT:bold; 
    FONT-SIZE:12px;
    COLOR:#0070a8;
}


.prodtxt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#ed5f00;
    font-weight:bold;
    line-height:0.5cm;
    text-align:justify;
    text-decoration:underline;
}

.products1txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    color:#333333;
    text-decoration:none;
    line-height:0.5cm;
}

.products2txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#333333;
    font-weight:bold;
    line-height:0.5cm;
    text-align:justify;
}

.featxt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    COLOR:#333333;
    font-weight:bold;
    line-height:0.5cm;
    text-align:center;
}

.fea1txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    color:#333333;
    text-decoration:none;
    line-height:0.5cm;
    text-align:center;
}

#deal
{
    width:760px;
}

#deal_left
{
    width:477px;
    float:left;
    padding-top:8px;
}

#deal_right
{
    width:278px;
    float:right;
}

.bestbg
{
    border-left:1px solid #c0c0c0;
    background-color:#ffffff;
    border-right:1px solid #c0c0c0;
    border-bottom:1px solid #c0c0c0;
}

#bid
{
    width:477px;
    float:left;
}

.bid_bg
{
    background:url(../images/dealbg.gif) no-repeat;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:8px;
    padding-bottom:9px;
    padding-left:10px;
    FONT-WEIGHT:bold; 
    FONT-SIZE:12px;
    COLOR:#0070a8;
}

.dealtxt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#a2a800;
    font-weight:bold;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

#googlebanner
{
    width:728px;
    padding-top:5px;
    padding-left:10px;
    padding-bottom:5px;
    clear:both;
}

#list
{
    width:960px;
    padding-left:5px;
    padding-right:5px;
}

.detailtablebg
{
    border:1px solid #b7daec;

}
.detailtablebg1
{
    border:1px solid #ffffff;
}

#detail
{
    width:960px;
    padding-left:22px;
    padding-top:7px;
    padding-bottom:5px;
}

.detail_bg
{
    background:url(../images/detailbg.jpg) no-repeat;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:5px;
    padding-bottom:15px;
    padding-left:15px;
    FONT-WEIGHT:bold; 
    FONT-SIZE:12px;
    COLOR:#ffffff;
}

.detail1txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    COLOR:#00798b;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.detail2txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    COLOR:#424242;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.detail3txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#FFFFFF;
    font-weight:bold;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.detail3txtnormal
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#FFFFFF;
    //font-weight:bold;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.detail4txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#054553;
    font-weight:bold;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.detail5txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#0a6d85;
    font-weight:bold;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.detail6txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#0a6d85;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.detail7txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#0a6d85;
    text-decoration:underline;
    line-height:0.5cm;
    text-align:justify;
}

.detail7txt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#becf00;
    font-weight:bold;
    text-decoration:underline;
    line-height:0.5cm;
    text-align:justify;
}

.detail8txt
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#666666;
    text-decoration:none;
}



.detailblacktxt
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    text-decoration:none;
}

.searchresult1txt
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#1e4cb4;
    text-decoration:none;
    font-weight:bold;
}

.searchresult2txt
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#3586e1;
    text-decoration:none;
}

.searchresult2txt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#c7ad00;
    text-decoration:none;
}

.searchresult3txt
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#0088cc;
    text-decoration:none;
    font-weight:bold;
}

.searchresult3txt_bold
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#003399;
    text-decoration:none;
    font-weight:bold;
}

.searchresult4txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    color:#333333;
    text-decoration:none;
    line-height:0.5cm;
}

.searchresult5txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#692df1;
    text-decoration:none;
    line-height:0.5cm;
}

.searchresultitemtxt
{
    font-family:tahoma;
    FONT-SIZE:14px;
    COLOR:#f3650c;
    text-decoration:none;
    font-weight:bold;
}

.searchresult6txt
{
    font-family:tahoma;
    FONT-SIZE:14px;
    COLOR:#1e4cb4;
    text-decoration:none;
    font-weight:bold;
}

.searchresult7txt
{
    font-family:tahoma;
    FONT-SIZE:11px;
    COLOR:#3586e1;
    text-decoration:none;
}

.searchresult7txt:hover
{
    font-family:tahoma;
    FONT-SIZE:11px;
    COLOR:#3586e1;
    text-decoration:underline;
}

.searchresult8txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#3586e1;
    text-decoration:none;
}

.searchresult8txt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#3586e1;
    text-decoration:none;
    font-weight:bold;
}

.searchresult9txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#3586e1;
    text-decoration:none;
    font-weight:bold;
}

.searchresult10txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#666666;
    text-decoration:none;
}

.searchresult10txt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    color:#3300CC;
    text-decoration:none;
}

.searchresult11txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    COLOR:#ff5400;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.searchresult11txt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    COLOR:#ff5400;
    text-decoration:underline;
    line-height:0.5cm;
    text-align:justify;
}

.moretxt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#ff6000;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

.moretxt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#000000;
    text-decoration:none;
    line-height:0.5cm;
    text-align:justify;
}

#myauctionleft
{
    width:230px;
    float:left;
    padding-left:10px;
}

.myauction1txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#304e92;
    text-decoration:none;
    font-weight:bold;
    line-height:0.5cm;
    text-align:justify;
}

.myauction2txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#595959;
    text-decoration:none;
    font-weight:bold;
    line-height:0.5cm;
    text-align:justify;
}

.myauction2txt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#ff6603;
    text-decoration:none;
    font-weight:bold;
    line-height:0.5cm;
    text-align:justify;
}

#myauctionright
{
    width:725px;
    float:right;
    padding-right:9px;
}

#myauctionright_left
{
    width:548px;
    float:left;
}

#myauctionleft1
{
    width:548px;
    float:left;
    padding-top:7px;
}

#myauctionright_right
{
    width:160px;
    float:right;
    padding-top:7px;
}

.myauction_bg
{
    background:url(../../images/myauc_bg.gif) no-repeat;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:8px;
    padding-bottom:5px;
    padding-left:15px;
    FONT-WEIGHT:bold; 
    FONT-SIZE:12px;
    COLOR:#1e4cb4;
}

.superbg
{
    border-left:1px solid #8dcfff;
    background-color:#ffffff;
    border-right:1px solid #8dcfff;
    border-bottom:1px solid #8dcfff;
}

.myauction3txt
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#595959;
    text-decoration:none;
    line-height:0.5cm;
}

.myauction4txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#008fd9;
    text-decoration:underline;
    line-height:0.5cm;
    text-align:justify;
}

.myauction1txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#304e92;
    text-decoration:none;
    font-weight:bold;
    line-height:0.5cm;
    text-align:justify;
}
.myauction2txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#595959;
    text-decoration:none;
    font-weight:bold;
    line-height:0.5cm;
    text-align:justify;
}


.myauction_bg
{
    background:url(../images/myauc_bg.gif) no-repeat;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:8px;
    padding-bottom:5px;
    padding-left:15px;
    FONT-WEIGHT:bold; 
    FONT-SIZE:12px;
    COLOR:#1e4cb4;
}

.detail9txtfinal
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    text-decoration:none;
    font-weight:bold;
}

.prodtxt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#666666;
    font-weight:bold;
    line-height:0.5cm;
    text-align:justify;
    text-decoration:underline;
}
.detail9txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#666666;
    font-weight:bold;
    line-height:0.5cm;
    text-align:justify;
}

.tr_border
{
    style=border:1Px solid #9eb1c5;
    bgcolor=#d8ecff;
}


.errormsg
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#FF0000;
    font-weight:bold;
    text-decoration:none;
    line-height:0.5cm;
}

.newfont
{
    color:#444444;
    font-family:Arial, Helvetica, sans-serif;
    size:2px;
    font-weight:bold;
}

.tr_botborder 
{
    BACKGROUND-COLOR:#F8F8FA;border-bottom:1px solid #D6D6D6;
}
.tr_color_1 
{
    BACKGROUND-COLOR:#D8ECFF;
}
.tr_color_2 
{
    BACKGROUND-COLOR:#DDDDDD;
}
.tr_color_3 
{
    BACKGROUND-COLOR:#B3ECFF;
}
#login_left
{
    width:474px;
    float:left;
    padding-left:26px;

}

#login_right
{
    width:474px;
    float:right;
    padding-right:8px;
}

.login1txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#369cbd;
    font-weight:bold;
    line-height:0.5cm;
    text-align:justify;
}

.login2txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#898989;
    font-weight:bold;
    line-height:0.5cm;
    text-align:justify;
    text-decoration:underline;
}

.login3txt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    COLOR:#898989;
    line-height:0.5cm;
    text-align:justify;
    text-decoration:underline;
}

.login3txt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    color:#FF6600;
    line-height:0.5cm;
    text-align:justify;
    text-decoration:underline;
}

#bidding1
{
    width:990px;
    padding-left:15px;
    margin-left:auto;
    margin-right:auto;
}


.sitemaptxt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    color:#1E55A8;

    line-height:0.5cm;
    text-align:justify;
    text-decoration:none;
}

.sitemaptxt:hover
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:12px;
    color:#FF6600;
    line-height:0.5cm;
    text-align:justify;
    text-decoration:underline;
}

.abtustxt
{
    font-family:Arial, Helvetica, sans-serif;
    FONT-SIZE:11px;
    color:#1E55A8;
    line-height:0.5cm;
    text-align:justify;
    text-decoration:none;
}

.highlight
{
    BACKGROUND-COLOR:#D8ECFF;
}
